certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses==0.8
filelock==3.0.12
idna==2.10
joblib==1.0.1
numpy==1.19.5
packaging==20.9
protobuf==3.15.7
pyparsing==2.4.7
pyTelegramBotAPI==3.7.7
regex==2021.3.17
requests==2.25.1
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
tokenizers==0.9.3
torch==1.4.0+cu92
tqdm==4.59.0
transformers==3.5.0
urllib3==1.26.4
